{% extends 'base.html' %}
{% block content %}
    <h1>Books</h1>
    <ul id="books-list"></ul>
    <button onclick="window.location.href='/'">Back to Home</button>
    <button onclick="showAddBookForm()">Add Book</button>

    <div id="add-book-form" style="display: none;">
        <h2>Add New Book</h2>
        <form id="book-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="summary">Summary:</label>
            <textarea id="summary" name="summary" required></textarea>
            <br>
            <label for="date_of_publication">Date of Publication:</label>
            <input type="date" id="date_of_publication" name="date_of_publication">
            <br>
            <label for="number_of_sales">Number of Sales:</label>
            <input type="number" id="number_of_sales" name="number_of_sales">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="edit-book-form" style="display: none;">
        <h2>Edit Book</h2>
        <form id="edit-book-form-content">
            <input type="hidden" id="edit-book-id" name="id">
            <label for="edit-name">Name:</label>
            <input type="text" id="edit-name" name="name" required>
            <br>
            <label for="edit-summary">Summary:</label>
            <textarea id="edit-summary" name="summary" required></textarea>
            <br>
            <label for="edit-date_of_publication">Date of Publication:</label>
            <input type="date" id="edit-date_of_publication" name="date_of_publication">
            <br>
            <label for="edit-number_of_sales">Number of Sales:</label>
            <input type="number" id="edit-number_of_sales" name="number_of_sales">
            <br>
            <button type="submit">Update</button>
        </form>
    </div>

    <script src='books.js'></script>
{% endblock %}
